body {

    /* color: red;
    color: rgb(0, 255, 0);
    color: #0000ff;
    color: #00f;  
    色は、最後に指定したものが適応される
    */
    color: #333;
    font-family: Verdana, sans-serif;
    /*fontは、最初に指定したものに。それがなければ、そのあとのものに*/
    margin: 0;
    /*marginのみで、4方向の指定ができる。０の場合、「px」は省略できる*/
}

header {
        text-align: right;/* テキストの位置 */
        padding: 10px;
        background-image: url(../img/header.png);
        height: 240px;
        background-size: cover;
        background-position: 50% 50%;
        margin-bottom: 60px;
}

header ul {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}

header li {
    display: inline-block;/* 横並びにする */
    padding: 4px 8px;/* 上下、及び左右をゆったりと持たせる */
    font-size: 12px;
}

header li > a {
    text-decoration: none;
    color: inherit;
}

header li > a:hover { /*header li > a で、「ヘッダー内のli内のaのみに適当」となる */
    color: royalblue;
}

.current {
    border-bottom: 4px solid royalblue;
}

section {
    text-align: center;
}

section h1 {
    font-weight: normal;
    margin-bottom: 8px;
}

section p {
    margin-top: 0;
    font-size: 14px;
}

.icon {
    border-radius: 50%;
    /* border-color: pink;
    border-width: 5px;
    border-style: solid; */
    border: 5px solid white;/* 上の3要素をまとめて設定できる */
    /* box-shadow: x方向のズレ y方向のズレ blurぼかし幅 color色 */
    box-shadow: 0px 0px 5px gray;
    /* 結局ここでは、画像の周りに白いラインがあり、その周囲に影を設定している */
}

.works {
    width: 400px;/* 画像と同じ幅 */
    margin: 60px auto;
    /* 左右のmarginをautoつまり中央配置にする */
}

.works h1,p {
    text-align: left;
}

.works > section {/* これが意図しているのはworks(div要素)「「直下の」」section。つまり1つ。その中身は関係ない。 */
    margin-bottom: 40px;
    border-bottom: 1px solid gray;
}

footer {
    width: 400px;
    margin: 0 auto 60px;/* 最後に指定したらbottomになる。よって、top、left&right、bottomの順で指定していることになる */
}

footer ul {
    margin:0;
    list-style-type: none;
    padding-left: 0;
    float: left;/*floatにより、この要素が浮いいた状態＝下にある要素がこの要素の場所まで食い込める設定ができる*/
}

footer li {
    display: inline-block;
}

footer li > a:hover {
    opacity: 0.6;/*hoverした際に透明にする。これで60%の透明度になる。*/
}

footer p {
    color: lightgray;
    font-size: 14px;
    text-align: right;
}

.about {
    width: 400px;
    margin: 0 auto 60px;
}

.about p {
    text-align: left;
}


/*「h1」のように、「どこに」を示すのが「セレクター」、「color: red;」のように、「どのようなスタイルを」を示すのがプロパティと呼ぶ*/
/*色の指定は、一番↓の行のものが反映される*/
/* 行を複数選択し、「Ctrl+/」すると、選択した行全てがコメントアウトされる */
/* 上下の位置関係にある要素に関しては、merginの相殺が起こり、幅の広いmerginにサイズが合わせられる */
/* sectionでtext-align: center;が設定されていても、divの中のsectionに適応されるだけなので、div自体をcenterにしないといけない */